name: CI

on:
  push:
    branches: ["master"]
    paths-ignore:
      - '**/*.md'
      - '.editorconfig'
      - '.gitignore'
      - '.clang-format'
      - 'cms.kdev4'
      - '.dockerignore'
      - 'LICENSE'
      - '.codespellrc'
  pull_request:
    branches: ["master"]
    paths-ignore:
      - '**/*.md'
      - '.editorconfig'
      - '.gitignore'
      - '.clang-format'
      - 'cms.kdev4'
      - '.dockerignore'
      - 'LICENSE'
      - '.codespellrc'
  schedule:
    - cron: '0 0 * * 1' # Runs at 00:00 on every Monday UTC

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Update package manager
        run: sudo apt update -qqq -y
      - name: Install development toolchain
        run: sudo apt install -qqq -y git meson libboost-all-dev
      - name: Make script executable
        run: chmod +x scripts/mongoc.sh
      - name: Run mongo c driver compile script
        run: ./scripts/mongoc.sh
      - name: Setup meson build
        run: meson setup build --prefer-static --default-library=static
      - name: Compile CMS application
        run: meson compile -C build

  trigger-deploy:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - name: Trigger deploy
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GIT_HUB_WORKFLOW_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'deploy.yml',
              ref: 'master'
            })
